<div class="card-container">
  <md-card>
    <md-card-title>Learn</md-card-title>
    <md-card-content class="secondary">
      Learn the ASL alphabet using flash cards or Leap Motion hand recognition hardware.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Spell</md-card-title>
    <md-card-content class="secondary">
      Practice spelling words using Leap Motion hardware.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Play</md-card-title>
    <md-card-content class="secondary">
      Compose phrases using Leap Motion hardware.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Create</md-card-title>
    <md-card-content class="secondary">
      Submit additional gestures and signs to the database expanding what others can learn.
    </md-card-content>
  </md-card>
</div>
