.container {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 1000px;
  height: 650px;
  overflow: hidden;
}

.alphabet {
  float: left;
  width: 380px;
  height: 350px;
  background-color: white;
}

.image {
  float: left;
  width: 500px;
  height: 500px;
  margin-left: 70px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.image-container {
  width: 380px;
  height: 350px;
  border: 0.2px solid;
  border-color: #b3b3b3;
  background-color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.capture {
  float: left;
  width: 500px;
  height: 500px;
  margin-left: 70px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.capture-container {
  width: 380px;
  height: 350px;
  border: 0.2px solid;
  border-color: #b3b3b3;
  background-color: #e6e6e6;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.image-display {
  width: 70%;
  margin: 0 auto;
  bottom: 0px;
  position: absolute;
}

.alphabet-container {
  width: 380px;
  height: 350px;
  border: 0.2px solid;
  border-color: #b3b3b3;
  background-color: white;
  padding: 20px;
}

.alphabet {
  padding-right: 10px;
}

.button-container {
  float: left;
  overflow: hidden;
}

.capture-button {
  right: 10px;
  margin-top: 10px;
  position: absolute;
}

.score-container {
  height: 30px;
  width: 840px;
  top: 620px;
  background-color: white;
  position: absolute;
  padding: 20px;
}

.score {
  text-align: center;
  font-size: 18px;
}

.alphabet-button {
  padding: 3px;
  float: left;
  position: relative;
}

.head-center {
  text-align: center;
}
