<div class="animated fadeIn">
</div>

<div class = 'container'>
  <div class = 'alphabets'> 
    <md-tab-group class='alphabets-container'>
      <md-tab>
        <template md-tab-label> Alphabets </template>
        <template md-tab-content>
          <div class='row'>
            <button  md-raised-button *ngFor="let ltr of letters" color='{{ltr.color}}' (click) = "clicked(ltr.val)"> {{ ltr.val }}</button>
          </div>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label> Gestures </template>
        <template md-tab-content></template>
      </md-tab>
    </md-tab-group>
  </div>

  <div *ngIf="showImgDiv" class = 'image'>
    <div class = 'image-container'>
      <div class = 'capture-button'>
        <button md-button color='primary' (click) = "hideImgDiv();"> Click when READY </button>
      </div>
      <div *ngIf="clickedLtr" class='image-display'>
        <img [src] = "imageUrl"/>
      </div>
    </div>
  </div>

  <div *ngIf="showCaptureDiv" class = 'capture'>
    <div class = 'capture-container'>
    <button md-button color='primary' (click) = "hideCaptureDiv()"> DONE </button>
    </div>
  </div>

  <div class='score-container'>
    <div class = 'score'> 
      Your Score is {{ score }}
    </div>
  </div>

</div>





