
#ltMainContainer {
  float: left;
  position: relative;
  width: 55vw;
  height: 65vh;
  margin-left: 0;
  margin-right: 0;
  /*border: 1px solid black;*/
  border-radius: 4px;
  /*background-color: black;*/
  background-color: rgba(0, 0, 0, 0.87);
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
}

canvas {
  pointer-events: none;
}

#spellPanel {
  /*border: 1px solid black;*/
  position: relative;
  width: 16vw;
  height: 65vh;
  margin-left: 3%;
  margin-right: 3%;
  float: left;
  border-radius: 4px;
  background-color: rgba(1, 150, 136, 0.19);
}

.head-center {
  text-align: center;
}

.capture-container {
  border: 2px dashed #FBC02D;
  width: 700px;
  height: 500px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}
