<div class="animated fadeIn">
  <div class="head-center">
    <h1 class="animated fadeInDown">Spelling</h1>
    <p class="animated pulse">Spell all of the words!</p>
  </div>
</div>

<div id="spellPanel" class="animated zoomIn"> </div>

<div class="animated fadeIn">
  <div id="ltMainContainer" class="animated pulse">
    <div id="ltContainer">
      <div id="recognizedGesture">TEMP</div>
    </div>
  </div>
</div>

<div id="spellPanel" class="animated zoomIn"> </div>
</div>

<div>
</div>

<div class="capture-container">
Hello I'm a styled Div
 <md-card>
    <md-card-title>Capture</md-card-title>
    <md-card-content>

      Hello I'm content
    </md-card-content>
  </md-card>
</div>

<div>
</div>

