.head-center {
  text-align: center;
}

#ltMainContainer {
  float: left;
  position: relative;
  width: 60vw;
  height: 65vh;
  margin-left: 3%;
  margin-right: 3%;
  /*border: 1px solid black;*/
  border-radius: 4px;
  /*background-color: black;*/
  background-color: rgba(0, 0, 0, 0.87);
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
}

canvas {
  pointer-events: none;
}

#deleteButton {
  width: 1.5vw;
  height: 1.5vh;
  float: right;
  margin-left: 1vw;
}

.savedGestureNames {
  float: left;
  overflow: hidden;
  padding: 3px;
}

.createOptions {
  float: left;
  position: relative;
  width: 30vw;
  height: 65vh;
  margin-left: 3%;
  /*border: 1px solid black;*/
  border-radius: 4px;
  background-color: rgba(1, 150, 136, 0.19);
}

.createOptionsList {
  padding: 3%;
  margin: 0;
  text-align: center;
}

#createOptionsList li {
  list-style-type: none
}

#createOptionsList md-input {
  width: 90%;
}

.hand-btn {
  color: white;
  width: 44%;
  max-width: 350px;
}

.white-btn {
  color: black;
}

#recognizedGesture, #gestureOptions {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

.gestureOption {
  width: 90vw;
}

.gestureInput {
  width: 90%;
  margin: 16px auto 0 auto;
  display: flex;
}

.fill {
  width: 5%;
}

#deviceStatus {
  color: grey;
  position: absolute;
  bottom: 0;
  margin-left: 3px;
}
/*
#gestureOptions {
  width: 100%;
  position: absolute;
  bottom: 0;
}*/

.center {
  text-align: center;
}

#countdownTimer, #recordingStartedMessage {
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  font-size: 20px;
}

#savedMessage {
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

#testingMessage {
  color: white;
  text-align: center;
  position: relative;
  top: 0;
  font-size: 20px;
}


#testingInstructions {
  color: white;
  text-align: center;
  position: relative;
  top: 0;
}

#gestureListInstructions {
  color: grey;
  font-size: 13px;
  margin-left: 1.8vw;
  margin-right: 1.8vw;
}