#ltMainContainer {
  float: left;
  position: relative;
  width: 60vw;
  height: 65vh;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid black;
  border-radius: 3px;
  /*background-color: black;*/
  background-color: rgba(0, 0, 0, 0.87);
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
}

canvas {
  pointer-events: none;
}

.savedGestureNames {
  float: left;
  overflow: hidden;
  padding: 3px;
}

#createOptions {
  float: left;
  position: relative;
  width: 30vw;
  height: 65vh;
  margin-left: 3%;
  border: 1px solid black;
  border-radius: 3px;
}

#createOptionsList {
  padding: 3%;
  margin: 0;
  text-align: center;
}

#createOptionsList li {
  list-style-type: none
}

#createOptionsList md-input {
  width: 90%;
}

li > button {
  width: 90%;
  max-width: 350px;
}

#recognizedGesture, #gestureOptions {
  background-color: blue;
  color: white;
  text-align: center;
}

.gestureOption {
  width: 90vw;
}
/*
#gestureOptions {
  width: 100%;
  position: absolute;
  bottom: 0;
}
*/
.head-center {
  text-align: center;
}
