<div class="animated fadeIn">
  <div class="head-center">
    <h1 class="animated fadeInDown">Playground</h1>
    <p class="animated pulse">Practice what you've learned with composition.</p>
  </div>
</div>

<div id="ltMainContainer" class="animated fadeInLeft">
  <div id="ltContainer">
    <div id="recognizedGesture">TEMP</div>
    <div id='deviceStatus'> Leap Motion Device Status :
      <span [ngSwitch]="connected">
        <span *ngSwitchWhen='true' [ngStyle]='{"color":"green"}'>Connected</span>
        <span *ngSwitchWhen='false' [ngStyle]='{"color":"red"}'>Disconnected</span>
      </span>
    </div>
  </div>
</div>

<div id="composeOutput" class="animated fadeInUp">

</div>
