<div class="animated fadeIn">
  <div class="head-center">
    <h1 class="animated fadeInDown">Playground</h1>
    <p class="animated pulse">Practice what you've learned with composition.</p>
  </div>
</div>

<div id="ltMainContainer" class="animated fadeInLeft">
  <div id="ltContainer">
    <div id="recognizedGesture">TEMP</div>
  </div>
  <!-- <div *ngIf="true">
    <button md-raised-button color="primary" (click)="update()">Update</button>
    <button md-raised-button color="primary" (click)="reset()">Reset</button>
    <button md-raised-button color="primary" (click)="saveGesture()">Save</button>
  </div> -->
</div>

<div id="composeOutput" class="animated fadeInUp">

</div>
