#main-container {
  height: 100%;
  /*width: 100%;*/
  /*position: absolute;*/
  background-size: cover; 
  background-repeat: no-repeat;
  overflow: hidden;
  /*background-color: #000;*/
  z-index: -1;
  /*border: solid white;*/
}

#img-container {
  z-index: 8;
  float: left;
  height: 100%;
  width: 50%;
  padding: 0;
  position: absolute;
  background-size: cover; 
  /*background-repeat: no-repeat;*/
}

.comp {
  float: left; 
  max-height: 100%;
  /*border: solid blue;
}
*/
