
#main-container {
  height: 100%;
  width: 100%;
  min-width: 50%;
  position: relative;
  background-size: 100% auto; 
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 99%
  z-index: -1;
  /*background-color: #000;*/
  /*border: solid white;*/
}

#img-container {
  z-index: 1;
  float: left;
  height: 100%;
  width: 50%;
  padding: 0;
  position: absolute;
  background-size: 90% 100%; 
  background-repeat: no-repeat;
  pointer-events: none;
}

.comp {
  float: left; 
  max-height: 100%;
  /*border: solid blue;*/
}

/*
#main-container {
 height: 100%;
 width: 100%;
 /*background: url('./assests/img/bg.png');*/
 /*background-color: #000;
}

#img-container {
 height: 100%;
 width: 100%;
 position: fixed;
 background-size: cover; 
 background-repeat: no-repeat;
 overflow: hidden;
}*/