 .form-container {
  position: relative;
  font-family: 'Maitree', serif;
  top: 100px  ;
  margin-left: 750px;
  height: 500px;
  width: 500px;
  color: #fff;
}
h1, h3 {
  color: #F4A846;
  display: inline-block;
  margin-bottom: 0;
}

.alt{
  margin-left: 170px;
}
input {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 350px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #F4A846;
  border-radius: 5px;
}

input.signup {
  margin-left: 35px;
  margin-top:40px;
  width: 150px;
}

button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #F4A846;
  border-radius: 5px;
}

button.login {
  text-transform: none;
  height: 0;
  width: 0;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  color: #F4A846;
}
