h1 {
  color: #F4A846;
}

.content-container {
  position: relative;
  font-family: 'Neuton';
  top: 60px;
  left: 60%;
  height: 500px;
  width: 500px;
  color: #fff;
}
.button-container {
  position: relative;
  margin-top: 140px;
  width: 400px;
  margin-left: 800px;
}

button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #F4A846;
  border-radius: 5px;
}

button:hover {
  background-color: #F4A846;
  color: black;
  font-weight: bold;
}

button.signin {
    /*margin-left: 800px;*/
}

button.learn {
  position: relative;
  margin-left: 50px;
}
