<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item [routerLink]="['/learn']">
        <md-icon md-list-icon>assignment</md-icon>
        <span md-line>Learn</span>
        <span md-line class="secondary">Learn the ASL alphabet.</span>
      </a>
      <a md-list-item [routerLink]="['/spell']">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Spell</span>
        <span md-line class="secondary">Spell words using ASL.</span>
      </a>
      <a md-list-item [routerLink]="['/play']">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Play</span>
        <span md-line class="secondary">Compose phrases.</span>
      </a>
      <a md-list-item [routerLink]="['/create']">
        <md-icon md-list-icon>forum</md-icon>
        <span md-line>Create</span>
        <span md-line class="secondary">Submit additional gestures.</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>

    <button md-icon-button>
      <a [routerLink]="['/home']">
        <md-icon>home</md-icon>
      </a>
    </button>

    hello.
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-layout>


<!-- <p>Learn an unspoken language and communicate with someone new.</p>

<a [routerLink]="['/dashboard/home']"></a>
<a [routerLink]="['/dashboard/learn']">Learn</a>
<a [routerLink]="['/dashboard/connect']">Connect</a>
<a [routerLink]="['/dashboard/create']">Create</a>

<div class="inner-outlet">
  <router-outlet></router-outlet>
</div> -->
